* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 3.5fr ;
    grid-template-rows: 1fr 4fr;
}

img {
    height: 25px;
    width: 25px;
}

#header {
    border: 1px solid red;
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header_top {
    grid-row: 1 / 2;
}

.header_bot {
    grid-row: 2 / 3;
}

.header_top,
.header_bot {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: start;
    margin-left: 40px;
}

.searchbar,
.profile,
.buttons,
.profile_lower {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%
}

.profile_lower,
.searchbar {
    justify-content: flex-start;
}

#searchbar {
    width: 70%;
    height: 30px;
    border-radius: 50px;
    background: rgb(231, 231, 231)
}

.profile { 
    font-size: 25px;
    font-weight: 700;
}

.profile,
.buttons {
    grid-column: 2 / 3;
}

.profile_lower > img {
    height: 50px;
    width: 50px;
}

.profile_lower_text p:first-child {
    font-weight: 700;
    font-size: 15px;
}

.profile_lower_text p:last-child {
    font-size: 25px;
    font-weight: 700;
}

button {
    padding: 10px 30px;
    background: rgb(20, 121, 236);
    color: white;
    font-size: 15px;
    border-radius: 50px;
}


#sidebar {
    background-color: #22d3ee;
    grid-column: 1 / 2;
    grid-row: 1 / -1
}

main {
    display: grid;
    grid-template-columns: 1fr 0.33fr;
    grid-template-rows: 45px 1fr;
    box-sizing: border-box;
}

main > p,
#annoucements > p {
    grid-row: 1 / 2;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
}

#project_dash {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    box-sizing: border-box;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

}

.project {
    height: 200px;
    width: 350px;
    border: 1px solid green;
    box-sizing: border-box;
}

.project p {
    font-size: 10px;
}

#annoucements {
    border: 1px solid red;
    grid-column: 2 / 3;
}

#trending_profiles {
    border: 1px solid red;
}